<div class="post_overview">
  
  <section class="home__posts">

  <h2 class="home__headline">Posts</h2>

  {% set postitems from stories starts_with: 'posts/', is_startpage: false %}

  <div class="grid">
    
  {% for post in postitems.data %}
    <div class="col-1-3">
      <a href="/{{post.full_slug}}" class="post_card">
        <img class="post_card__image" src="{{post.content.image | resize: '316x0' }}" alt="{{ post.content.name | default: post.name }}">
        <h3 class="post_card__title">{{ post.content.name | default: post.name }}</h3>
        <p class="post_card__sub_title">{{ post.content.description }}</p>
      </a>
    </div>
  {% endfor %}

  </div>

</section>

</div>